* {
    box-sizing: border-box;
}

html,
body {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    display: flex;
}

nav {
    background-color: #464f77;
    color: #fff;
    width: 335px;
    height: 100vh;
    padding: 71px 0 0 0;
    /* display: none; */
}

#toggle-nav {
    display: none;
}

#toggle-nav:checked+nav {
    display: block;
}

nav h2 {
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 400;
    vertical-align: text-bottom;
    padding: 0 54px 0 6px;
    letter-spacing: 1px;
}

.completed-todos h2 {
    padding-bottom: 2px;
    margin-left: -1px;
}

nav h3 {
    display: inline-block;
    font-weight: 400;
    color: #b2b5c3;
    letter-spacing: 0.5px;
}

.completed-todos h3 {
    text-decoration: line-through;
}

.selected-todo {
    background-color: #383f5f;
    display: block;
}

.selected-todo h3 {
    color: #fff;
}

.items-remaining {
    display: inline-block;
    background-color: #6b7292;
    font-size: 0.875rem;
    font-weight: 200;
    color: #b2b5c3;
    border-radius: 10px;
    padding: 1px 4.5px 0 4.5px;
}

nav header .items-remaining {
    vertical-align: text-top;
}

nav ul .items-remaining {
    float: right;
}

.current-list {
    background-color: #148fd5;
    color: #fff;
}

nav header {
    padding: 0 0 0 102px;
    margin-bottom: 10px;
}

nav header img {
    vertical-align: text-bottom;
}

nav ul {
    margin-bottom: 55px;
}

nav li {
    padding: 11px 32px 10px 137px;
}

main {
    background-color: #fff;
    color: #060606;
    height: 100vh;
    flex: auto;
    position: relative;
    padding: 23px 100px 22px 20px;
    letter-spacing: 1px;
}

.responsive-hamburger {
    width: 23px;
    height: 18px;
    margin-bottom: 30px;
    display: none;
}

h1 {
    margin-top: 50px;
    font-size: 1.3125rem;
    font-weight: 400;
    display: inline-block;
}

main .items-remaining {
    vertical-align: text-top;
    margin-left: 12px;
}

main li {
    border-top: 1px solid #e7e7e7;
}

main header {
    margin-bottom: 37px;
    margin-left: 12px;
}

main header~p {
    color: #148fd5;
    word-spacing: -0.5px;
    /* margin-left: 12px; */
}

main header+img {
    margin-left: 12px;
    margin-right: 10px;
}

main ul {
    margin-top: 13px;
}

main li {
    padding: 14px 0 15px 0;
}

main li img {
    margin-left: 12px;
    margin-right: 6px;
    vertical-align: middle;
}

main p {
    display: inline-block;
    vertical-align: text-top;
}

main li>img:hover {
    cursor: pointer;
}

main li>img:hover+p {
    color: #148fd5;
}

main p:hover {
    color: #148fd5;
    cursor: pointer
}

main .done-todo p {
    color: #b3b3b3;
    text-decoration: line-through;
}

main .done-todo p:hover {
    color: #b3b3b3;
}

.trash-image {
    float: right;
    margin: 2px 0 0 -1px;
}

#new-todo {
    display: none;
}

.modal-screen {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}

.modal-dialog {
    position: absolute;
    top: 107px;
    left: 105px;
    width: 575px;
    height: 399px;
    background-color: #fff;
    z-index: 2;
    padding: 37px 39px 0 31px;
    display: none;
}

#new-todo:checked+.modal-screen {
    display: block;
}

#new-todo:checked~.modal-dialog {
    display: block;
}
