* {
    box-sizing: border-box;
}


html,
body {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    display: flex;
}

nav {
    background-color: #464f77;
    color: #fff;
    width: 335px;
    height: 100vh;
    padding: 71px 0 0 0;
    display: none;
}

#toggle-nav {
    display: none;
}

#toggle-nav:checked+nav {
    display: block;
}

#toggle-nav:checked~main {
    --nav-width: 335px;
}

nav h2 {
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 400;
    vertical-align: text-bottom;
    padding: 0 54px 0 6px;
    letter-spacing: 1px;
}

.completed-todos h2 {
    padding-bottom: 2px;
    margin-left: -1px;
}

nav h3 {
    display: inline-block;
    font-weight: 400;
    color: #b2b5c3;
    letter-spacing: 0.5px;
}

.completed-todos h3 {
    text-decoration: line-through;
}

.selected-todo {
    background-color: #383f5f;
    display: block;
}

.selected-todo h3 {
    color: #fff;
}

.items-remaining {
    display: inline-block;
    background-color: #6b7292;
    font-size: 0.875rem;
    font-weight: 200;
    color: #b2b5c3;
    border-radius: 10px;
    padding: 1px 4.5px 0 4.5px;
}

nav header .items-remaining {
    vertical-align: text-top;
}

nav ul .items-remaining {
    float: right;
}

.current-list {
    background-color: #148fd5;
    color: #fff;
}

nav header {
    padding: 0 0 0 102px;
    margin-bottom: 10px;
}

nav header img {
    vertical-align: text-bottom;
}

nav ul {
    margin-bottom: 55px;
}

nav li {
    padding: 11px 32px 10px 137px;
}

main {
    background-color: #fff;
    color: #060606;
    height: 100vh;
    flex: auto;
    padding: 23px 100px 22px 20px;
    letter-spacing: 1px;
    --nav-width: 0px;
}

.responsive-hamburger {
    display: block;
    width: 23px;
    height: 18px;
    /* margin-bottom: 30px; */
    /* display: none; */
}

h1 {
    /* margin-top: 50px; */
    margin-top: 32px;
    font-size: 1.3125rem;
    font-weight: 400;
    display: inline-block;
}

main .items-remaining {
    vertical-align: text-top;
    margin-left: 12px;
}

main li {
    border-top: 1px solid #e7e7e7;
}

main header {
    margin-bottom: 37px;
    margin-left: 12px;
}

main header~p {
    color: #148fd5;
    word-spacing: -0.5px;
}

main header+img {
    margin-left: 12px;
    margin-right: 10px;
}

main ul {
    margin-top: 13px;
}

main li {
    padding: 14px 0 15px 0;
}

main li img {
    margin-left: 12px;
    margin-right: 6px;
    vertical-align: middle;
}

main p {
    display: inline-block;
    vertical-align: text-top;
}

main li img:hover {
    cursor: pointer;
}

main p:hover {
    color: #148fd5;
    cursor: pointer
}

main .done-todo p {
    color: #b3b3b3;
    text-decoration: line-through;
}

main .done-todo p:hover {
    color: #b3b3b3;
}

.trash-image {
    float: right;
    margin: 2px 0 0 -1px;
}

#new-todo {
    display: none;
}

.modal-screen {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}

.modal-dialog {
    /* box is 865x818 pixels */
    /* top: 107px; */
    top: 13.0806845966%;
    /* left: 105px; */
    /* left: 12.1247113164%; */
    left: calc(50vw + var(--nav-width) / 2);
    transform: translate(-50%, 0);

    position: absolute;
    width: 575px;
    height: 399px;
    background-color: #fff;
    z-index: 2;
    padding: 37px 39px 0 31px;
    display: none;
    overflow: hidden;
}

@media (max-width: 910px) {
    .modal-dialog {
        left: 50vw;
        transform: translate(-50%, 0);
    }
}

@media (min-width: 768px) {
    nav {
        display: block;
    }

    main {
        --nav-width: 335px;
    }

    h1 {
        margin-top: 50px;
    }

    .responsive-hamburger {
        display: none;
    }
}

#new-todo:checked+.modal-screen {
    display: block;
}

#new-todo:checked~.modal-dialog {
    display: block;
}

aside fieldset {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    gap: 20px;
}

aside input,
aside textarea,
aside select {
    border-radius: 0;
    height: 35px;
    border: 1px solid #b3b3b3;
    padding: 2px 0 0 8px;
    font-size: 1rem;
    color: #040404;
    letter-spacing: 1px;
}

label {
    width: 90px;
    height: 35px;
}

label[for="title"],
.date-label {
    padding-top: 9px;
}

.date-label {
    margin-right: 10px;
}

#title {
    flex: auto;
}

label[for="description"] {
    align-self: start;
    padding-top: 9px;
}

#description {
    /* width: 395px; */
    flex: auto;
    height: 143px;
    padding-top: 7px;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    margin-top: 2px;
    resize: none;
}

.due-date {
    gap: 10px;
}


.due-date input {
    width: 115px;
}

.select-wrapper {
    position: relative;
}

.select-wrapper::after {
    width: 10px;
    height: 15px;
    background-color: #fff;
    background-image: url("../images/select.png");
    z-index: 3;
    position: absolute;
    font-size: 1rem;
    top: 10px;
    right: 8px;
    content: "";
}

.due-date select {
    width: 115px;
    background: #fff url("images/select.png");
    color: #757575;
    appearance: none;
}

.submit-form {
    display: block;
    padding-left: 110px;
}

.submit-form input {
    width: 184px;
    background-color: #148fd5;
    border: none;
    color: #fff;
    border-radius: 3px;
    letter-spacing: 1px;
    text-align: center;
    padding-right: 8px;
    padding-bottom: 1px;
}

input[value="Save"] {
    margin-right: 12px;
}

.due-date .day select {
    color: #060606;
}
