.container {
    background-color: pink;
    height: 384px;
}

.square-box {
    display: block;
    box-sizing: border-box;
    background-color: blue;
    width: 96px;
    height: 96px;
    margin: auto;
}