* {
    box-sizing: border-box;
}

html,
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #ffd505;
}

.outer-wrapper {
    max-width: 900px;
    margin: 0 auto;
}

header {
    background-color: #047ec1;
    color: #fff;
    height: 100px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

header h1 {
    font-size: 2.5rem;
    padding: 25px;
}

main {
    background-color: #ececec;
    margin: 32px 0 0 0;
    padding: 25px 25px 40px 25px;
}

main h2 {
    font-size: 2rem;
    margin: 0 0 25px 0;
}

main ul {
    display: grid;
    justify-content: space-between;
    align-items: space-between;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 235px;
}

main ul li {
    padding: 15px;
    background-color: #fff;
    text-align: center;
}

main li label {
    background: transparent;
    text-align: left;
    border: none;
}

main label h3 {
    font-size: 1.15rem;
}

main label p {
    margin: 2px 0 0 0;
    font-size: 0.95rem;
}

main .image-wrapper {
    width: 160px;
    height: 145px;
    margin: 0 auto 15px auto;
    vertical-align: bottom;
    text-align: center;
}

main img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
}

main .presentation {
    background-color: #00000066;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: none;
}

main .presentation figure {
    margin: 100px 0 0 0;
    width: 400px;
    display: inline-block;
}

main .presentation figure img {
    display: block;
    width: 100%;
}

input[type="checkbox"] {
    display: none;
}

label:hover {
    cursor: pointer;
}

.toggle:checked~.image-wrapper img {
    display: none;
}

.toggle:checked~.presentation {
    display: block;
    cursor: pointer;
}
