@import url("whitespace-reset.css");

body {
    font: normal 16px Helvetica, Arial, sans-serif;
    color: #1c242f;
    background: #ffd505;
}

header,
main {
    width: 900px;
    margin: 0 auto 30px auto;
}

header {
    background: #047ec1;
    padding: 30px 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

header h1 {
    padding: 0 25px;
    font-size: 2.4em;
    color: #fff;
}

main {
    background: #ececec;
    box-sizing: border-box;
    padding: 25px;
}

main::after {
    display: block;
    clear: both;
    content: "";
}

main h2 {
    padding: 0 0 25px 0;
    font-size: 2em;
}

li {
    float: left;
    width: 23.5%;
    padding: 15px;
    box-sizing: border-box;
    margin: 0 0 2% 2%;
    background: #fff;
}

li:nth-of-type(4n+1) {
    margin-left: 0;
}

h3 {
    padding: 0 0 5px 0;
    font-size: 1.2em;
}

figure {
    width: 100%;
    height: 160px;
}

img {
    display: block;
    width: auto;
    height: 140px;
    margin: 0 auto;
}

input[type="checkbox"] {
    display: none;
}

input:checked+figure img {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 400px;
    height: auto;
    margin: 0 0 0 -200px;
    z-index: 2;
}

input:checked+figure::before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
    background: rgba(0, 0, 0, 0.4);
}
