* {
    box-sizing: border-box;
}

html,
body {
    font-size: 20px;
}

body {
    background: url("bg_body.gif") repeat;
    font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
    font-weight: normal;
    letter-spacing: 0.5px;
    color: black;
    padding: 159px 0 143px 0;
    margin: 0 8px;
}

body>header {
    max-width: 1000px;
    margin: 0 auto 94px auto;
}

header img {
    display: block;
    width: fit-content;
    margin: 0 auto;
    position: relative;
    left: 0.5px;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    /* height: 715px; */
    background-color: #fff;
    text-align: center;
    padding: 100px 90px 65px 90px;
}

footer {
    max-width: 1000px;
    /* height: 116px; */
    padding: 33px 0 32px 0;
    background-color: #e7e7e7;
    margin: 0 auto;
}

footer ul {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 121.25px;
}

footer ul li {
    display: block;
    font-size: 0;
}

.paragraph-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

.bullet-first {
    font-size: 1.4rem;
    font-weight: 600;
    padding-bottom: 6px;
    position: relative;
    left: -2px;
}

.bullet-second {
    font-size: 1.4rem;
    font-weight: 600;
    padding-bottom: 6px;
}

p {
    margin: 22px 0 0 0;
    letter-spacing: 0.01rem;
    text-align: center;
    line-height: 28px;
    font-size: 1rem;
    color: black;
    font-weight: 400;
}

.about-founder {
    margin: 158px 0 0 0;
}

h3 {
    color: #3e98b2;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 20px 0 0 0;
    letter-spacing: 0.04rem;
}
