* {
  padding: 0;
  margin: 0;
}

html,
body {
  font: normal 24px Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}

body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "header   header    header"
    "navbar   navbar    navbar"
    "aside-1  article-1 aside-2"
    "aside-3  article-2 article-2"
    "footer   footer    footer";
}

header,
h1 {
  background-color: blue;
  color: white;
}

header {
  padding: 1rem;
  text-align: center;
  grid-area: header;
}

nav {
  background-color: cyan;
  grid-area: navbar;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

li {
  text-align: center;
  width: auto;
}

a {
  box-sizing: border-box;
  display: inline-block;
  padding: 1rem 0;
  text-decoration: none;
  width: 100%;
}

a:focus,
a:hover {
  background-color: blue;
  color: yellow;
}

article,
aside {
  padding: 0 1rem;
}

#article-1 {
  grid-area: article-1;
}

aside {
  background-color: lightgreen;
}

#aside-1 {
  grid-area: aside-1;
}

#aside-2 {
  grid-area: aside-2;
}

#aside-3 {
  background-color: pink;
  grid-area: aside-3;
}

#article-2 {
  background-color: skyblue;
  grid-area: article-2;
}

p {
  margin: 1rem 0;
}

footer {
  background-color: yellow;
  grid-area: footer;
  display: grid;
  grid-template-areas: "logo copyright";
  grid-template-columns: 1fr 3fr;
}

#copyright {
  margin: 0 1rem;
  grid-area: copyright;
  align-self: center;
  justify-self: end;
}

#logo {
  background-color: orange;
  grid-area: logo;
}

#logo img {
  display: block;
  object-fit: cover;
  width: 100%;
}
