/* breakpoints:
  less than 654px width
                        - speakers 3 column layout changes to 2 column
                        - schedule changes layout
                        - nav bar disappears
                        - header changes height

  So the only definite breakpoint is at 653/654 width. There are some fluid
  sections where variable numbers of columns change based on the size of the
  window, but should these also be dealt with using media queries?
*/

* {
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #444;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 200;
}

footer {
    background-image: url("https://2014.jsconfbr.org/images/people.jpg");
    background-size: cover;
}

a {
    text-decoration: none;
}

aside {
    display: none;
}

nav {
    /* display: none; /* on mobile */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 9px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}

nav ul {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 0;
    padding-bottom: 1px;
}

nav li {
    display: inline-block;
    margin: 0 26.7px;
    padding: 14px 0 12.5px 0;
}

nav a {
    color: #444;
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-weight: normal
}

nav a:hover {
    text-decoration: underline;
}

header {
    margin: 54px 0 0 0;
    height: 429px;
    background: #fff url("https://2014.jsconfbr.org/images/front.jpg") center;
    text-align: center;
    padding-top: 151px;
}

header img {
    display: block;
    width: 80px;
    margin: 0 auto;
}

header h1 {
    margin: 3.5px 0 0 0;
    color: #fff;
    font-size: 72px;
    font-weight: 400;
}

header p {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 31px;
}

.tickets {
    width: 953px;
    margin: 0 auto;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    height: 300px;
}

.section-heading {
    width: fit-content;
    margin: 60px auto 30px auto;
    font-size: 48px;
    font-weight: 200;
}

.tickets p {
    width: fit-content;
    margin: 0 auto 10.5px auto;
}

.button-link {
    background-color: #008000;
    width: fit-content;
    display: block;
    padding: 10px 30px;
    margin: 0 auto;
    color: #fff;
}

.speakers ul {
    max-width: 888.45px;
    margin: 33.5px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    /* align-content: center; */
    gap: 10.25px 13.85px;
}

.speakers li {
    border: 1px solid #e5e5e5;
    width: 281.75px;
    height: 380px;
    position: relative;
}

.speakers li:nth-of-type(3n+2) {
    margin-right: -1px;
}

.speakers img {
    display: block;
    width: 100%;

}

aside {
    background-color: #000000df;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
}
