* {
  box-sizing: border-box;
}

body {
  background-color: #0e0e0e;
}

.outer-wrapper {
  padding: 20px 70px 16px 70px;
  width: 1100px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, #d1dbbd, #fcfff5);
  background-repeat: no-repeat;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

header {
  width: 920px;
  margin: 0 auto;
}

h1 {
  padding: 44px 0 20px 110px;
  font-size: 36px;
  font-weight: normal;
  color: #193441;
  background-image: url("logo.png");
  background-repeat: no-repeat;
  float: left;
}

nav {
  float: right;
  padding-top: 75px;
}

nav li {
  display: inline-block;
  width: 128.75px;
  text-align: center;
}

nav a {
  padding: 12px 0 12px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: block;
  text-decoration: none;
  background-color: #fcfff5;
  color: #91aa9d;
  font-size: 18px;
  margin-left: 1px;
}

nav a.active {
  color: #fcfff5;
  background-color: #91aa9d;
}

main {
  clear: both;
  background-color: #fff;
  width: 960px;
  padding: 30px;
  overflow: hidden;
  box-shadow: 0 5px 5px #b5b5b5;
}

h2 {
  font-size: 32px;
  font-weight: normal;
  color: #3e606f;
  margin: 33px 0 25px 0;
}

p {
  color: #3e606f;
  line-height: 1.425rem;
  padding-bottom: 22px;
}

figure {
  float: right;
  padding: 0 0 13px 40px;
}

footer {
  margin-top: 12px;
}

footer p {
  font-size: 14px;
}
