@import url("whitespace_reset.css");

body {
    /* background gradient */
    font: normal 18px "Roboto Condensed", sans-serif;
    color: #3e606f;
    background-image: linear-gradient(to bottom, #d2dbbd, #fcfff5);
    background-repeat: no-repeat;
}

header {
    width: 920px;
    margin: 0 auto;
    padding: 20px 20px 0 20px;
}

h1 {
    background: transparent url("logo.png") 0 0 no-repeat;
    font-size: 36px;
    font-weight: normal;
    color: #193441;
    padding: 45px 0 15px 115px;
    float: left;
}

nav {
    float: right;
    padding: 75px 0 0 0;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    padding: 10px 40px 14px 40px;
    color: #91aa9d;
    background: #fcfff5;
    text-decoration: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

nav a.active {
    color: #fcfff5;
    background: #91aa9d;
}

main {
    clear: both;
    width: 960px;
    background: #fff;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 5px 5px #b5b5b5;
}

img.masthead {
    margin: 0 0 40px 0;
}

h2 {
    padding: 0 0 25px 0;
    font-size: 32px;
    font-weight: normal;
}

p {
    padding: 0 0 20px 0;
}

figure {
    float: right;
    padding: 0 0 0 30px;
}

footer {
    width: 960px;
    margin: 0 auto;
    font-size: 14px;
    padding: 15px;
}
