body {
    background: #141414;
    color: #f0f0f0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
}

main {
    min-width: 600px;
    max-width: 1000px;
    background: #333;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

img {
    display: block;
    width: 100%;
}

figure {
    margin: 0;
    padding: 0 0 30px 0;
}

figure img {
    border: 15px solid #fff;
    box-sizing: border-box;
}

figcaption {
    padding: 10px 0 0 0;
}

ul {
    font-size: 0;
    padding: 0;
    margin: 0 -15px;
}

li {
    display: inline-block;
    width: 25%;
    padding: 0 15px;
    box-sizing: border-box;
}

li img {
    border: 3px solid #fff;
}
