* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #151515;
    color: #f0f0f0;
}

main {
    margin: 0 auto;
    max-width: 1000px;
    background-color: #333;
    color: inherit;
    padding: 25px 20px 20px;
}

h1 {
    margin: 1.33rem auto;
    text-align: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

figure {
    padding: 0 0 30px;
}

figure img {
    border: 15px solid white;
}

figcaption {
    padding: 10px 0 0;
}

ul {
    font-size: 0;
    margin: 0 -15px;
}

li {
    display: inline-block;
    margin-bottom: 30px;
    padding: 0 15px;
    vertical-align: top;
    width: 50%;
}

li img {
    border: 3px solid white;
}

@media screen and (min-width: 600px) {
    li {
        width: 33.333%;
    }
}

@media screen and (min-width: 900px) {
    li {
        width: 25%;
    }
}

@media screen and (min-width: 1280px) {
    main {
        max-width: none;
    }

    figure {
        float: left;
        max-width: 950px;
        margin-right: 50px;
    }

    ul {
        overflow: hidden;
    }

    li {
        width: 100%;
    }
}
