/* reset spacing */
* {
    padding: 0;
    margin: 0;
}

/* set root font size */
html, body {
    font-size: 32px;
    background-color: #fff;
    color: #000;
}

/* set overall width of label and indentation*/

body {
    width: 680px;
    padding: 2px 0 10px 10px;
}

/* set font families, weights, and sizings */

h1 {
    font-family: 'Franklin Gothic Heavy', 'Libre Franklin', Arial, sans-serif;
    font-weight: 1000;
    font-size: 2.77rem;
    line-height: 2.5rem;
}

header p {
    font-family: Helvetica, Arial, Inter, sans-serif;
}

main [scope="col"] {
    font-family:  Inter, Helvetica, Arial, sans-serif;
    font-weight: 1000;
    font-size: 0.825rem;
}

main thead [scope="col"] {
    text-align: left;
}

main tbody [scope="col"] {
    text-align: right;
}

strong {
    font-family: Inter, Helvetica, Arial, sans-serif;
    font-weight: 1000;
    font-size: 1rem;
}

em {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
}

main dt {
    font-family: Inter, Helvetica, Arial, sans-serif;
    font-weight: 1000;
    font-size: 1rem;
}

main th,
main td,
main dd {
    font-family: Helvetica, Arial, Inter, sans-serif;
    font-weight: normal;
    font-size: 1rem;
}

main p {
    font-family: Helvetica, Arial, Inter, sans-serif;
    font-size: 0.8rem;
}

footer th,
footer td {
    font-family: Helvetica, Arial, Inter, sans-serif;
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 0.95rem;
}

/* table layout -- first table */

main table {
    border-spacing: 0;
    margin-top: 5px;
    width: fit-content;
}

main table th {
    text-align: left;
}

main table td {
    text-align: right;
}

main dt {
    display: inline-block;
    text-align: left;
}

main dd {
    display: inline-block;
    text-align: left;
}

td:first-child + td {
    text-align: left;
}

/* seperator bars - `main` table */

/* draw thin bars below each row in `main` table */
main th,
main td {
    border-bottom: 1px solid black;
    line-height: 1.475rem;
}

/* use first data cell of indented rows as indentation spacer,
    and remove borders to indent bars.
    Since we are removing existing borders, this must come
    after the `main th, main td` border ruleset */
main tbody tr:nth-of-type(3) td:first-child,
main tbody tr:nth-of-type(4) td:first-child,
main tbody tr:nth-of-type(8) td:first-child,
main tbody tr:nth-of-type(9) td:first-child {
    border: none;
    width: 1rem;
}

/* draw medium and thick bars in `main` table */
main thead tr:first-of-type th {
    border-top: 26px solid black;
}

main tbody tr:first-of-type th {
    border-top: 10px solid black;
}

main tfoot tr:first-of-type th,
main tfoot tr:first-of-type td {
    border-top: 26px solid black;
}

/* main paragraphs width and position */

main p {
    margin-right: 1rem;
}

main p:first-of-type {
    margin-top: 14px;
}

main p:nth-of-type(2) {
    padding-left: 0.5rem;
    margin-bottom: 4px;
}

/* table layout - `footer` table */

footer table {
    border-spacing: 0;
}

footer td,
footer th {
    text-align: left;
}

footer thead th:first-of-type,
footer tbody td:nth-of-type(3n+1) {
    text-align: right;
    padding-right: 1.3rem;
    padding-left: 1.3rem;
}

footer thead th {
    border-bottom: 1px solid black;
}

footer tbody tr:first-of-type td,
footer tbody tr:first-of-type th {
    padding-top: 4px;
}

footer tbody tr:nth-of-type(2) th,
footer tbody tr:nth-of-type(6) th {
    padding-left: 1rem;
}

footer thead th:last-child,
footer tbody td:last-child {
    padding-left: 1.3rem;
}
